<!-- <input type="checkbox" (click)="onSelect($event)"> -->
<div class="row justify-content-center" [routerLink]="'/drink/' + drink.idDrink">
  <div class="col-sm-12 col-md-6 col-lg-4 my-2" style="width: 18rem;">
    <div class="card" [className]="drink.selected ? 'card bg-primary' : 'card'" role="button">
      <img [src]="drink.strDrinkThumb" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{drink.strDrink}}</h5>
        <p class="text-muted">{{drink.strCategory}}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-primary">Open details</button>
        </div>
      </div>
    </div>
  </div>
</div>