<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">The cocktail DB</a>
    <button class="btn btn-outline-primary" routerLink="/home">Home</button>
  </div>
</nav>

<div class="input-group">
  <form>
    <div class="input-group m-3">
      <input type="text" class="form-control" name="drinkName" [(ngModel)]="jsonIn.name"
        placeholder="Search cocktails by name" aria-label="Search cocktails by name" aria-describedby="button-addon2">
      <button class="btn btn-primary" type="button" id="drinkName" (click)="searchByName(jsonIn.name)">Search</button>
    </div>
    <div class="input-group m-3 wrap">
      <label for="inputPassword3" class="col-sm-3 col-form-label">Ingredient:</label>
      <select class="form-select post_max m-b" [(ngModel)]="jsonIn.ingredient" id="ingredient" name="ingredient">
        <option *ngFor="let ingredients of list" [value]="ingredients.strIngredient1">{{ingredients.strIngredient1}}
        </option>
      </select>
      <button class="btn btn-primary" type="button" id="drinkIngredient"
        (click)="searchByIngredient(jsonIn.ingredient)">Search</button>
    </div>
  </form>
</div>

<div class="row justify-content-center">
  <div *ngFor="let drink of drinks" [routerLink]="'/drink/' + drink.idDrink" class="col-sm-12 col-md-6 col-lg-4 my-2"
    style="width: 18rem;">
    <app-card-drink [drink]="drink"></app-card-drink>
  </div>
</div>